---
permalink: /cv.html
layout: bare
---
{% include site-head.html page_title="Academic CV" %}

<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tr>
    <td style="padding:2.5%;width:100%;vertical-align:middle">
      <h1>Academic CV</h1>
    </td>
  </tr>
</table>

<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tr>
    <td style="padding:1.2% 2.5%;width:100%;vertical-align:middle">
      <h2>Education</h2>
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:8px 0 0 0;">
        <tr>
          <td colspan="2" style="padding:0 0 2px 0;">
            <strong>KTH Royal Institute of Technology</strong>, Stockholm, Sweden
          </td>
        </tr>
        <tr>
          <td style="padding:0;width:78%;vertical-align:top;">
            Ph.D. in Computer Science<br />
            Advisor: Christopher Peters<br />
            MSCA ITN CLIPE Fellow
          </td>
          <td style="padding:0;width:22%;vertical-align:top;text-align:right;">
            Jan 2021–Sep 2026
          </td>
        </tr>
      </table>
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:14px 0 0 0;">
        <tr>
          <td colspan="2" style="padding:0 0 2px 0;">
            <strong>RWTH Aachen University</strong>, Aachen, Germany
          </td>
        </tr>
        <tr>
          <td style="padding:0;width:78%;vertical-align:top;">
            M.Sc. in Mechanical Engineering<br />
            Advisor: Mikhail Itskov
          </td>
          <td style="padding:0;width:22%;vertical-align:top;text-align:right;">
            Sep 2017–Oct 2020
          </td>
        </tr>
      </table>
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:14px 0 0 0;">
        <tr>
          <td colspan="2" style="padding:0 0 2px 0;">
            <strong>COEP Technological University</strong>, Pune, India
          </td>
        </tr>
        <tr>
          <td style="padding:0;width:78%;vertical-align:top;">
            B.Tech. in Mechanical Engineering
          </td>
          <td style="padding:0;width:22%;vertical-align:top;text-align:right;">
            Jul 2010–May 2014
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tr>
    <td style="padding:1.2% 2.5%;width:100%;vertical-align:middle">
      <h2>Research Experience</h2>
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:8px 0 0 0;">
        <tr>
          <td colspan="2" style="padding:0 0 2px 0;">
            <strong>Meta</strong>, Sausalito, California, USA
          </td>
        </tr>
        <tr>
          <td style="padding:0;width:78%;vertical-align:top;">
            Research Scientist Intern
          </td>
          <td style="padding:0;width:22%;vertical-align:top;text-align:right;">
            Apr 2026–Sep 2026
          </td>
        </tr>
      </table>
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:14px 0 0 0;">
        <tr>
          <td colspan="2" style="padding:0 0 2px 0;">
            <strong>Sony Research</strong>, Kyoto, Japan / Remote
          </td>
        </tr>
        <tr>
          <td style="padding:0;width:78%;vertical-align:top;">
            Ph.D. Intern, Creative AI Lab
          </td>
          <td style="padding:0;width:22%;vertical-align:top;text-align:right;">
            Dec 2025–Mar 2026
          </td>
        </tr>
        <tr>
          <td style="padding:2px 0 0 0;width:78%;vertical-align:top;">
            Ph.D. Intern, Sony Computer Science Laboratories
          </td>
          <td style="padding:2px 0 0 0;width:22%;vertical-align:top;text-align:right;">
            Apr 2025–Jun 2025
          </td>
        </tr>
      </table>
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:14px 0 0 0;">
        <tr>
          <td colspan="2" style="padding:0 0 2px 0;">
            <strong>Adobe Research</strong>, London, UK / Bengaluru, India
          </td>
        </tr>
        <tr>
          <td style="padding:0;width:78%;vertical-align:top;">
            Research Scientist Intern, Graphics and 3D Imaging Research
          </td>
          <td style="padding:0;width:22%;vertical-align:top;text-align:right;">
            Jul 2025–Oct 2025
          </td>
        </tr>
        <tr>
          <td style="padding:2px 0 0 0;width:78%;vertical-align:top;">
            Research Ph.D. Intern, Multimodal Content Group
          </td>
          <td style="padding:2px 0 0 0;width:22%;vertical-align:top;text-align:right;">
            Apr 2024–Jul 2024
          </td>
        </tr>
      </table>
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:14px 0 0 0;">
        <tr>
          <td colspan="2" style="padding:0 0 2px 0;">
            <strong>Electronic Arts SEED</strong>, Stockholm, Sweden
          </td>
        </tr>
        <tr>
          <td style="padding:0;width:78%;vertical-align:top;">
            Ph.D. Intern
          </td>
          <td style="padding:0;width:22%;vertical-align:top;text-align:right;">
            Oct 2024–Mar 2025
          </td>
        </tr>
      </table>
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:14px 0 0 0;">
        <tr>
          <td colspan="2" style="padding:0 0 2px 0;">
            <strong>Max Planck Institute for Intelligent Systems</strong>, Tübingen, Germany
          </td>
        </tr>
        <tr>
          <td style="padding:0;width:78%;vertical-align:top;">
            Guest Scientist, Perceiving Systems
          </td>
          <td style="padding:0;width:22%;vertical-align:top;text-align:right;">
            Sep 2022–Dec 2024
          </td>
        </tr>
      </table>
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:14px 0 0 0;">
        <tr>
          <td colspan="2" style="padding:0 0 2px 0;">
            <strong>Ubisoft La Forge</strong>, Bordeaux, France
          </td>
        </tr>
        <tr>
          <td style="padding:0;width:78%;vertical-align:top;">
            Ph.D. Intern
          </td>
          <td style="padding:0;width:22%;vertical-align:top;text-align:right;">
            Mar 2022–Jun 2022
          </td>
        </tr>
      </table>
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:14px 0 0 0;">
        <tr>
          <td colspan="2" style="padding:0 0 2px 0;">
            <strong>IBM Research</strong>, Böblingen, Germany
          </td>
        </tr>
        <tr>
          <td style="padding:0;width:78%;vertical-align:top;">
            Machine Learning Intern
          </td>
          <td style="padding:0;width:22%;vertical-align:top;text-align:right;">
            Apr 2019–Sep 2019
          </td>
        </tr>
      </table>
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:14px 0 0 0;">
        <tr>
          <td colspan="2" style="padding:0 0 2px 0;">
            <strong>Dassault Systèmes SIMULIA</strong>, Aachen, Germany
          </td>
        </tr>
        <tr>
          <td style="padding:0;width:78%;vertical-align:top;">
            CAE Developer Intern
          </td>
          <td style="padding:0;width:22%;vertical-align:top;text-align:right;">
            Jul 2018–Mar 2019
          </td>
        </tr>
      </table>
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:14px 0 0 0;">
        <tr>
          <td colspan="2" style="padding:0 0 2px 0;">
            <strong>ITA Technologietransfer GmbH</strong>, Aachen, Germany
          </td>
        </tr>
        <tr>
          <td style="padding:0;width:78%;vertical-align:top;">
            Robotics Developer Intern
          </td>
          <td style="padding:0;width:22%;vertical-align:top;text-align:right;">
            Apr 2018–Mar 2019
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tr>
    <td style="padding:1.2% 2.5%;width:100%;vertical-align:middle">
      <h2>Professional Experience</h2>
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:8px 0 0 0;">
        <tr>
          <td colspan="2" style="padding:0 0 2px 0;">
            <strong>Lawrence Berkeley National Laboratory</strong>, Berkeley, California, USA
          </td>
        </tr>
        <tr>
          <td style="padding:0;width:78%;vertical-align:top;">
            Research Affiliate, Transportation Initiative / BEAM Team
          </td>
          <td style="padding:0;width:22%;vertical-align:top;text-align:right;">
            Nov 2019–Oct 2020
          </td>
        </tr>
      </table>
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:14px 0 0 0;">
        <tr>
          <td colspan="2" style="padding:0 0 2px 0;">
            <strong>Dassault Systèmes Solutions Lab</strong>, Pune, India
          </td>
        </tr>
        <tr>
          <td style="padding:0;width:78%;vertical-align:top;">
            CATIA Specialist
          </td>
          <td style="padding:0;width:22%;vertical-align:top;text-align:right;">
            Dec 2015–Aug 2017
          </td>
        </tr>
      </table>
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:14px 0 0 0;">
        <tr>
          <td colspan="2" style="padding:0 0 2px 0;">
            <strong>Autocop Telematics</strong>, Bengaluru, India
          </td>
        </tr>
        <tr>
          <td style="padding:0;width:78%;vertical-align:top;">
            Mechanical Design Engineer
          </td>
          <td style="padding:0;width:22%;vertical-align:top;text-align:right;">
            Jul 2014–Nov 2015
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tr>
    <td style="padding:1.2% 2.5%;width:100%;vertical-align:middle">
      <h2>Publications and Patents</h2>
      <p style="margin:8px 0 0 0;">
        <strong>Peer-Reviewed Conference Papers</strong>
      </p>
      <ol reversed style="margin:8px 0 0 22px; padding-left: 18px;">
        <li style="margin-bottom:10px;"><strong>Kiran Chhatre</strong>, Christopher Peters, and Srikrishna Karanam. “Spectrum: Learning 3D Texture-Aware Representations for Parsing Diverse Human Clothing and Body Parts.” <em>Proceedings of the Association for the Advancement of Artificial Intelligence</em>, 2026.</li>
        <li style="margin-bottom:10px;">Rajmund Nagy, Hendric Voß, Thanh Hoang-Minh, Mihail Tsakov, Teodor Nikolov, Zeyi Zhang, Tenglong Ao, Sicheng Yang, Shaoli Huang, Yongkang Cheng, M. Hamza Mughal, Rishabh Dabral, <strong>Kiran Chhatre</strong>, Christian Theobalt, Libin Liu, Stefan Kopp, Rachel McDonnell, Michael Neff, Taras Kucherenko, Youngwoo Yoon, and Gustav Eje Henter. “Towards Reliable Human Evaluations in Gesture Generation: Insights from a Community-Driven State-of-the-Art Benchmark.” <em>IEEE/CVF Conference on Computer Vision and Pattern Recognition Findings</em>, 2026.</li>
        <li style="margin-bottom:10px;">Abhirama S. Penamakuri*, <strong>Kiran Chhatre</strong>*, and Akshat Jain. “Audiopedia: Audio QA with Knowledge.” <em>IEEE International Conference on Acoustics, Speech and Signal Processing</em>, Oral, 2025. * joint first authors.</li>
        <li style="margin-bottom:10px;">Haoyang Du, <strong>Kiran Chhatre</strong>, Christopher Peters, Brian Keegan, Rachel McDonnell, and Cathy Ennis. “Synthetically Expressive: Evaluating Gesture and Voice for Emotion and Empathy in VR and 2D Scenarios.” <em>ACM International Conference on Intelligent Virtual Agents</em>, 2025. Best Paper Award.</li>
        <li style="margin-bottom:10px;"><strong>Kiran Chhatre</strong>, Radek Daněček, Nikos Athanasiou, Giorgio Becherini, Christopher Peters, Michael J. Black, and Timo Bolkart. “AMUSE: Emotional Speech-driven 3D Body Animation via Disentangled Latent Diffusion.” <em>Proceedings of the IEEE/CVF Conference on Computer Vision and Pattern Recognition</em>, 2024.</li>
        <li style="margin-bottom:10px;">Radek Daněček, <strong>Kiran Chhatre</strong>, Shashank Tripathi, Yandong Wen, Michael J. Black, and Timo Bolkart. “EMOTE: Emotional Speech-Driven Animation with Content-Emotion Disentanglement.” <em>ACM SIGGRAPH Asia Conference Papers</em>, 2023.</li>
        <li style="margin-bottom:10px;"><strong>Kiran Chhatre</strong>, Sidney Feygin, Colin Sheppard, and Rashid Waraich. “BEAMBayesOpt: Parallel Bayesian Optimization of Agent-Based Transportation Simulation.” <em>International Conference on Machine Learning, Optimization, and Data Science</em>, 2022. Special Mention Award.</li>
        <li style="margin-bottom:10px;">Todor Stojanovski, Hui Zhang, Emma Frid, <strong>Kiran Chhatre</strong>, Christopher Peters, Ivor Samuels, Paul Sanders, Jenni Partanen, and Deborah Lefosse. “Rethinking Computer-Aided Architectural Design (CAAD): From Generative Algorithms and Architectural Intelligence to Environmental Design and Ambient Intelligence.” <em>International Conference on Computer-Aided Architectural Design Futures</em>, 2021.</li>
      </ol>
      <p style="margin:14px 0 0 0;">
        <strong>Journal Articles</strong>
      </p>
      <ol reversed style="margin:8px 0 0 22px; padding-left: 18px;">
        <li style="margin-bottom:10px;"><strong>Kiran Chhatre</strong>, Renan Guarese, Andrii Matviienko, and Christopher Peters. “Evaluation of Generative Models for Emotional 3D Animation Generation in VR.” <em>Frontiers in Computer Science</em>, 2025.</li>
      </ol>
      <p style="margin:14px 0 0 0;">
        <strong>Preprints</strong>
      </p>
      <ol reversed style="margin:8px 0 0 22px; padding-left: 18px;">
        <li style="margin-bottom:10px;"><strong>Kiran Chhatre</strong>, Hyeonho Jeong, Yulia Gryaditskaya, Christopher E. Peters, Chun-Hao Paul Huang, and Paul Guerrero. “TrajectoryMover: Generative Movement of Object Trajectories in Videos.” <em>arXiv</em>, arXiv:2603.29092, 2026.</li>
      </ol>
      <p style="margin:14px 0 0 0;">
        <strong>Workshop Papers</strong>
      </p>
      <ol reversed style="margin:8px 0 0 22px; padding-left: 18px;">
        <li style="margin-bottom:10px;"><strong>Kiran Chhatre</strong>, Renan Guarese, Andrii Matviienko, and Christopher Peters. “Evaluating Speech and Video Models for Face-Body Congruence.” <em>Companion Proceedings of the ACM SIGGRAPH Symposium on Interactive 3D Graphics and Games</em>, 2025.</li>
        <li style="margin-bottom:10px;">Anna Deichler*, <strong>Kiran Chhatre</strong>*, Christopher Peters, and Jonas Beskow. “Spatio-temporal Priors in 3D Human Motion.” <em>IEEE International Conference on Development and Learning, StEPP Workshop</em>, 2021. * joint first authors.</li>
      </ol>
      <p style="margin:14px 0 0 0;">
        <strong>Patents</strong>
      </p>
      <ol reversed style="margin:8px 0 0 22px; padding-left: 18px;">
        <li style="margin-bottom:10px;"><strong>Kiran Chhatre</strong> and Srikrishna Karanam. “Systems and Methods for Image Segmentation Using Three-Dimensional Image Features.” U.S. Patent Application No. 19/284,065, 2025.</li>
      </ol>
    </td>
  </tr>
</table>

<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tr>
    <td style="padding:1.2% 2.5%;width:100%;vertical-align:middle">
      <h2>Honors &amp; Awards</h2>
      <p style="margin:8px 0 0 0;">
        <a href="https://www.acm.org/conferences/best-paper-awards">ACM IVA Best Paper Award</a> — 2025 <br />
        <a href="https://www.clipe-itn.eu/">Marie Skłodowska-Curie Actions fellowship (CLIPE Project), KTH</a> — 2021–2024 <br />
        Swedish Karl Engvers Foundation scholarship, KTH — 2021 <br />
        <a href="https://www.lbl.gov/">Lawrence Berkeley National Laboratory fellowship</a> — 2019–2020 <br />
        German National Hans Hermann Voss Foundation scholarship, <a href="https://www.rwth-aachen.de/">RWTH Aachen University</a> — 2019–2020 <br />
        <a href="https://www.daad.de/en/">DAAD</a> travel grant for IAESTE internship, <a href="https://www.qu.edu.qa/en-us/research/kindi/">Qatar University (KINDI)</a> — 2019 <br />
        Government of India scholarship, <a href="https://www.rwth-aachen.de/">RWTH Aachen University</a> — 2017–2019
      </p>
    </td>
  </tr>
</table>

<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tr>
    <td style="padding:1.2% 2.5%;width:100%;vertical-align:middle">
      <h2>Invited Talks &amp; Outreach</h2>
      <p style="margin:8px 0 0 0;">
        <a href="https://www.astrazeneca.com/">AstraZeneca</a> (hosted by <a href="https://www.linkedin.com/in/arthur-lewis-1129462a/">Arthur Lewis</a>), Stockholm Sweden — Dec 2025 <br />
        <a href="https://www.iiserpune.ac.in/events/4954/democratizing-lifelike-avatars">Indian Institute of Science Education and Research</a> (hosted by <a href="http://sites.iiserpune.ac.in/~apte/">Prof. Amit Apte</a>), Pune India — Jun 2025 <br />
        <a href="https://www.iii.u-tokyo.ac.jp/event/20250418event">University of Tokyo</a> (hosted by <a href="https://lab.rekimoto.org/">Prof. Jun Rekimoto</a>), Tokyo Japan — May 2025 <br />
        <a href="https://ai.sony/">Sony AI</a> (hosted by <a href="https://ai.sony/people/Takashi-Shibuya/">Takashi Shibuya</a>), Kyoto Japan — Apr 2025 <br />
        <a href="https://iplab.dmi.unict.it/icvss2024/">International Computer Vision Summer School (ICVSS)</a>, Sicily Italy — Jul 2024 <br />
        <a href="https://iisc.ac.in/">Indian Institute of Science</a> (hosted by <a href="https://ece.iisc.ac.in/~rajivs/#/">Prof. Rajiv Soundararajan</a>), Bengaluru India — Jun 2024 <br />
        <a href="https://eg2024.cyens.org.cy/workshops/">Eurographics CLIPE Workshop</a>, Limassol Cyprus — Apr 2024 <br />
        <a href="https://www.tcd.ie/">Trinity College Dublin</a> (hosted by <a href="https://scholar.google.com/citations?user=VnOvdegAAAAJ&hl=en">Prof. Carol O’Sullivan</a>), Dublin Ireland — Feb 2024 <br />
        <a href="https://sites.google.com/view/researchweek24/home">Google DeepMind Research Week</a>, Bengaluru India — Feb 2024 <br />
        <a href="https://www.clipe-itn.eu/news/training-workshop-3%3A-current-trends-in-virtual-humans">Current Trends in Virtual Humans</a>, Universitat Politècnica de Catalunya Barcelona Tech (UPC) — Sep 2022 <br />
        <a href="https://www.clipe-itn.eu/news/training-workshop-1%3A-summer-school-on-virtual-humans">Summer School on Virtual Humans</a>, University of Cyprus — Sep 2021 <br />
        <a href="https://www.ted.com/tedx/events/42592">TEDxKTH Salon</a>: AI – what should we focus on?, Stockholm Sweden — May 2021 <br />
        Contrastive Learning for Visual Representations, <a href="https://www.kthais.com/events/event/knowledge-sharing-session-4">KTH AI Society</a>, Stockholm Sweden — Apr 2021 <br />
        Data-driven motion synthesis, <a href="https://www.kthais.com/events/event/knowledge-sharing-session-1">KTH AI Society</a>, Stockholm Sweden — Mar 2021
      </p>
    </td>
  </tr>
</table>

<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tr>
    <td id="academic-services" style="padding:1.2% 2.5%;width:100%;vertical-align:middle">
      <h2>Academic Services</h2>
      <p style="margin:8px 0 0 0;">
        <strong>Conference Reviewer:</strong> CVPR, ICCV, ECCV, NeurIPS, ICLR, AAAI, SIGGRAPH / SIGGRAPH Asia, Eurographics, BMVC, FG <br />
        <strong>Journal Reviewer:</strong> TOG, TVCG, Pattern Recognition, IEEE Transactions on Affective Computing <br />
        <strong>Program Committee:</strong> <a href="https://eg2024.cyens.org.cy/workshops/">CLIPE Workshop at Eurographics 2024</a>
      </p>
    </td>
  </tr>
</table>

<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tr>
    <td style="padding:1.2% 2.5%;width:100%;vertical-align:middle">
      <h2>Teaching</h2>
      <p style="margin:8px 0 0 0;">
        <a href="https://www.kth.se/student/kurser/kurs/DH2323?l=en">DH2323 Computer Graphics and Interaction</a> — Spring 2021, 2023, 2025, 2026 <br />
        <a href="https://www.kth.se/student/kurser/kurs/DD2380?l=en">DD2380 Artificial Intelligence</a> — Autumn 2021, 2023, 2024 <br />
        <a href="https://www.kth.se/student/kurser/kurs/DM1590?l=en">DM1590 Machine Learning for Media Technology</a> — Spring 2022 <br />
        <a href="https://www.kth.se/student/kurser/kurs/DD2437?l=en">DD2437 Artificial Neural Networks and Deep Architectures</a> — Autumn 2021 <br />
        <a href="https://www.kth.se/student/kurser/kurs/DD2421?l=en">DD2421 Machine Learning</a> — Autumn 2021
      </p>
    </td>
  </tr>
</table>

<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tr>
    <td style="padding:1.2% 2.5%;width:100%;vertical-align:middle">
      <h2>Mentorship</h2>
      <p style="margin:8px 0 0 0;">
        Jinshi Ding, M.Sc. in Software Engineering of Distributed Systems, KTH (2026 Winter – Present) <br />
        Benhou Li, M.Sc. in Computer Science, KTH (2025 Winter) → Gameplay Programmer, <a href="https://www.bytedance.com/">ByteDance</a>, <a href="https://kth.diva-portal.org/smash/record.jsf?pid=diva2%3A1987334">(Thesis)</a> <br />
        Peiyang Zheng, M.Sc. in Computer Science, KTH (2024 Summer) → LLM SDE, <a href="https://www.zeekrlife.com/global/">Zeekr Technology Europe</a> <br />
        Simon Wanna, B.Sc. in Media Technology, KTH (2023 Summer – 2024 Spring) → Intern, <a href="https://www.scania.com/">Scania AB</a> <br />
        Tom Boustedt, B.Sc. in Media Technology, KTH (2023 Summer – 2024 Spring) → RA, <a href="https://www.washington.edu/">University of Washington</a>
      </p>
    </td>
  </tr>
</table>

<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tr>
    <td style="padding:1.2% 2.5%;width:100%;vertical-align:middle">
      <h2>Additional Academic Activities</h2>
      <p style="margin:8px 0 0 0;">
        <strong>EU Reports:</strong> <a href="https://www.clipe-itn.eu/article-category/public-project-deliverables">MSCA ITN Clipe project</a> <br />
        <strong>CAE Projects:</strong> <a href="https://www.ijsrd.com/articles/IJSRDV4I80426.pdf">Rear View Camera System</a> (IJSRD 2016), <a href="https://doi.org/10.5281/zenodo.6926895">Glass Fiber Reinforced Polymer</a> (IRF 2014) <br />
        <strong>Robotics Projects:</strong> <a href="https://ita-academy.de/en/welcome/">Robotics Developer @ ITA Academy GmbH</a>, <a href="https://github.com/carologistics">RoboCup Logistics League (Team Carologistics) 2018</a> <br />
        <strong>Extra-curricular:</strong> <a href="https://www.dr.kth.se/previous-boards/">PhD Chapter at KTH</a>, <a href="https://kthais.com/about/team/vt21">KTH AI Society</a>, <a href="https://intra.kth.se/styrning/kths-organisation/kths-fakultetsrad/etikutskottet-1.1104520">KTH Ethics Committee</a>, <a href="https://www.rkuf.se/">Swedish Red Cross</a> <br />
        <strong>Other links:</strong> <a href="https://www.kth.se/profile/chhatre">KTH website</a>, <a href="https://ps.is.mpg.de/person/kchhatre">MPI-IS website</a>, <a href="https://kiranchhatre.github.io/Industry/">Old website (Robotics demos)</a>
      </p>
    </td>
  </tr>
</table>

{% include site-footer.html %}
