{% if include.post.title contains "Audiopedia" %}@INPROCEEDINGS{10889814,
  author={Penamakuri, Abhirama Subramanyam and Chhatre, Kiran and Jain, Akshat},
  booktitle={ICASSP 2025 - 2025 IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP)}, 
  title={Audiopedia: Audio QA with Knowledge}, 
  year={2025},
  volume={},
  number={},
  pages={1-5},
  keywords={Adaptation models;Benchmark testing;Signal processing;Question answering (information retrieval);Cognition;Acoustics;Speech processing;audio question answering;knowledge-intensive questions;audio entity linking},
  doi={10.1109/ICASSP49660.2025.10889814}}{% elsif include.post.title contains "Spectrum" %}@misc{chhatre2025learning3dtextureawarerepresentations,
      title={Learning {3D} Texture-Aware Representations for Parsing Diverse Human Clothing and Body Parts}, 
      author={Kiran Chhatre and Christopher Peters and Srikrishna Karanam},
      year={2025},
      eprint={2508.06032},
      archivePrefix={arXiv},
      primaryClass={cs.CV},
      url={https://arxiv.org/abs/2508.06032}, 
}{% elsif include.post.title contains "TrajectoryMover" %}@misc{chhatre2026trajectorymovergenerativemovementobject,
  title={TrajectoryMover: Generative Movement of Object Trajectories in Videos}, 
  author={Kiran Chhatre and Hyeonho Jeong and Yulia Gryaditskaya and Christopher E. Peters and Chun-Hao Paul Huang and Paul Guerrero},
  year={2026},
  eprint={2603.29092},
  archivePrefix={arXiv},
  primaryClass={cs.CV},
  url={https://arxiv.org/abs/2603.29092}, 
}{% elsif include.post.title contains "Synthetically Expressive" %}@article{du2025synthetically,
  title={Synthetically Expressive: Evaluating gesture and voice for emotion and empathy in VR and 2D scenarios},
  author={Du, Haoyang and Chhatre, Kiran and Peters, Christopher and Keegan, Brian and McDonnell, Rachel and Ennis, Cathy},
  journal={arXiv preprint arXiv:2506.23777},
  year={2025}
}{% elsif include.post.title contains "Towards Reliable Human Evaluations" %}@misc{nagy2025reliablehumanevaluationsgesture,
  title={Towards Reliable Human Evaluations in Gesture Generation: Insights from a Community-Driven State-of-the-Art Benchmark},
  author={Rajmund Nagy and Hendric Voss and Thanh Hoang-Minh and Mihail Tsakov and Teodor Nikolov and Zeyi Zhang and Tenglong Ao and Sicheng Yang and Shaoli Huang and Yongkang Cheng and M. Hamza Mughal and Rishabh Dabral and Kiran Chhatre and Christian Theobalt and Libin Liu and Stefan Kopp and Rachel McDonnell and Michael Neff and Taras Kucherenko and Youngwoo Yoon and Gustav Eje Henter},
  year={2025},
  eprint={2511.01233},
  archivePrefix={arXiv},
  primaryClass={cs.CV},
  url={https://arxiv.org/abs/2511.01233},
}{% elsif include.post.title contains "Evaluation of Generative Models" %}@article{chhatre2025evaluation,
  title={Evaluation of Generative Models for Emotional 3D Animation Generation in VR},
  author={Chhatre, Kiran and Guarese, Renan and Matviienko, Andrii and Peters, Christopher Edward},
  journal={Frontiers in Computer Science},
  volume={7},
  pages={1598099},
  year={2025},
  publisher={Frontiers}
}

@inproceedings{chhatre2025evaluating,
  title={Evaluating Speech and Video Models for Face-Body Congruence},
  author={Chhatre, Kiran and Guarese, Renan and Matviienko, Andrii and Peters, Christopher},
  booktitle={Companion Proceedings of the ACM SIGGRAPH Symposium on Interactive 3D Graphics and Games},
  pages={1--3},
  year={2025}
}{% elsif include.post.title contains "AMUSE" %}@InProceedings{Chhatre_2024_CVPR,
    author    = {Chhatre, Kiran and Daněček, Radek and Athanasiou, Nikos and Becherini, Giorgio and Peters, Christopher and Black, Michael J. and Bolkart, Timo},
    title     = {AMUSE: Emotional Speech-driven 3D Body Animation via Disentangled Latent Diffusion},
    booktitle = {Proceedings of the IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR)},
    month     = {June},
    year      = {2024},
    pages     = {1942-1953},
    url = {https://amuse.is.tue.mpg.de},
}{% elsif include.post.title contains "EMOTE" %}@inproceedings{10.1145/3610548.3618183,
author = {Dan\v{e}\v{c}ek, Radek and Chhatre, Kiran and Tripathi, Shashank and Wen, Yandong and Black, Michael and Bolkart, Timo},
title = {Emotional Speech-Driven Animation with Content-Emotion Disentanglement},
year = {2023},
isbn = {9798400703157},
publisher = {Association for Computing Machinery},
address = {New York, NY, USA},
url = {https://doi.org/10.1145/3610548.3618183},
doi = {10.1145/3610548.3618183},
booktitle = {SIGGRAPH Asia 2023 Conference Papers},
articleno = {41},
numpages = {13},
keywords = {Computer Graphics, Computer Vision, Deep learning, Facial Animation, Speech-driven Animation},
location = {Sydney, NSW, Australia},
series = {SA '23}
}{% elsif include.post.title contains "Spatio-temporal" %}@article{deichler2021spatio,
  title={Spatio-temporal priors in 3D human motion},
  author={Deichler, Anna and Chhatre, Kiran and Peters, Christopher and Beskow, Jonas},
  year={2021}
}{% elsif include.post.title contains "BEAMBayesOpt" or include.post.title contains "Parallel Bayesian" %}@inproceedings{chhatre2022parallel,
  title={Parallel Bayesian Optimization of Agent-Based Transportation Simulation},
  author={Chhatre, Kiran and Feygin, Sidney and Sheppard, Colin and Waraich, Rashid},
  booktitle={International Conference on Machine Learning, Optimization, and Data Science},
  pages={470--484},
  year={2022},
  organization={Springer}
}{% elsif include.post.title contains "CAAD" or include.post.title contains "Computer-Aided" or include.post.title contains "computer-aided" %}@inproceedings{stojanovski2021rethinking,
  title={Rethinking computer-aided architectural design (CAAD)--from generative algorithms and architectural intelligence to environmental design and ambient intelligence},
  author={Stojanovski, Todor and Zhang, Hui and Frid, Emma and Chhatre, Kiran and Peters, Christopher and Samuels, Ivor and Sanders, Paul and Partanen, Jenni and Lefosse, Deborah},
  booktitle={International Conference on Computer-Aided Architectural Design Futures},
  pages={62--83},
  year={2021},
  organization={Springer}
}{% endif %}
