{% if include.post.frontiers_paper %}
<a href="{{include.post.frontiers_paper}}">arxiv</a> /
{% endif %}
{% if include.post.i3d_paper %}
<a href="{{include.post.i3d_paper}}">i3d workshop</a> /
{% endif %}
{% if include.post.paper %}
<a href="{{include.post.paper}}">paper</a> /
{% endif %}
{% if include.post.arxiv %}
<a href="{{include.post.arxiv}}">arxiv</a> /
{% endif %}
{% if include.post.paper2 %}
<a href="{{include.post.paper2}}">paper #2</a> /
{% endif %}
{% if include.post.website %}
<a href="{{include.post.website}}">website</a> /
{% endif %}
{% if include.post.video %}
<a href="{{include.post.video}}">video</a> /
{% endif %}
{% if include.post.youtube %}
<a href="{{include.post.youtube}}">youtube</a> /
{% endif %}
{% if include.post.supp %}
<a href="{{include.post.supp}}">supp. material</a> /
{% endif %}
{% if include.post.code %}
<a href="{{include.post.code}}">code</a>{% if include.post.code_status %}<span class="code-status-tag">{{ include.post.code_status }}</span>{% endif %} /
{% endif %}
{% if include.post.code2 %}
<a href="{{include.post.code2}}">BEAM-integration</a> /
{% endif %}
{% if include.post.poster %}
<a href="{{include.post.poster}}">poster</a> /
{% endif %}
{% if include.post.slides %}
<a href="{{include.post.slides}}">slides</a> /
{% endif %}
{% if include.post.x %}
<a href="{{include.post.x}}">x thread</a> /
{% endif %}
{% if include.post.title contains "Spectrum" %}
<a href="https://patents.google.com/">patent</a> /
{% endif %}
